<footer>
	<!--=== Footer ===-->
	<div class="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
	                <!-- About -->
			        <div class="headline"><h3>О нас</h3></div>	
					<p class="margin-bottom-25">ООО "Инфоком-НН" - это нижегородская ИТ-копмания. Мы занимается обслуживанием компьютеров.</p>	

		            <!-- Monthly Newsletter -->
			        <div class="headline"><h3>Подписка на акции</h3></div>	
					<p>Подпишись на новости ООО "Инфоком-НН" и получай пиьма с нашими скидками!</p>
					<form class="form-inline" />
						<div class="input-append">
							<input type="text" placeholder="Адрес почты" class="input-medium" />
							<button class="btn-u">Подписаться</button>
						</div>
					</form>							
				</div><!--/span4-->	
				
				<div class="span4">
	                <div class="posts">
	                    <div class="headline"><h3>Блог компании</h3></div>
	                    <dl class="dl-horizontal">
	                        <dt><a href="#"><img src="assets/logo.gif" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="#">Сообщение о текущей деятельности компании. Куда ездили?</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                    <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="#">Пост о том, как мы побывали в первый раз на Богрродском Машиностроительном Заводе.</a></p> 
	                        </dd>
	                    </dl>
	                    <dl class="dl-horizontal">
	                    <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
	                        <dd>
	                            <p><a href="#">Новость о том, что происходит в ИТ-мире ООО "Нижновтеплоэнерго".</a></p> 
	                        </dd>
	                    </dl>
	                </div>
				</div><!--/span4-->

				<div class="span4">
		            <!-- Monthly Newsletter -->
			        <div class="headline"><h3>Контакты</h3></div>	
		                <address>
							603000 г. Нижний Новгород <br />
							ул. Бекетова, д. 15, оф. 4 <br />
							Тел.: 414-89-19 <br />
							Факс: 444-44-44 <br />
							Email: <a href="mailto:infocom-nn@yandex.ru" class="">infocom-nn@yandex.ru</a>
		                </address>

	                <!-- Stay Connected -->
			        <div class="headline"><h3>Присоединяйся!</h3></div>	
	                <ul class="social-icons">
	                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
	                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
	                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
	                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
	                </ul>
				</div><!--/span4-->
			</div><!--/row-fluid-->	
		</div><!--/container-->	
	</div><!--/footer-->	
	<!--=== End Footer ===-->

	<!--=== Copyright ===-->
	<div class="copyright">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">						
		            <p>2013 &copy; ООО "Инфоком-НН". Все праа защищены. <a href="#">Условия использования материалов</a> | <a href="#">Типовой договор</a></p>
				</div>
				<div class="span4">	
					<a href="index.html"><img id="logo-footer" src="assets/logo_light.png" class="pull-right" alt="" /></a>
				</div>
			</div><!--/row-fluid-->
		</div><!--/container-->	
	</div><!--/copyright-->	
	<!--=== End Copyright ===-->
</footer>