<header>
	<div class="top">
	    <div class="container">         
	        <ul class="loginbar pull-right">
	            <li><i class="icon-globe"></i><a>Язык <i class="icon-sort-up"></i></a>
	                <ul class="nav-list">
	                    <li class="active"><a href="#">Русский</a> <i class="icon-ok"></i></li>
	                    <li><a href="#">Spanish</a></li>
	                    <li><a href="#">English</a></li>
	                    <li><a href="#">German</a></li>
	                </ul>
	            </li>   
	            <li class="devider">&nbsp;</li>
	            <li><a href="page_faq.html" class="login-btn">Помощь</a></li>  
	            <li class="devider">&nbsp;</li>
	            <li><a href="page_login.html" class="login-btn">Логин</a></li>   
	        </ul>
	    </div>      
	</div>   
<!--=== Header ===-->
	<div class="container">

    		<div class="row-fluid">
				<div class="span4">
					<div class="logo">                                             
						<a href="index.html">
							<img id="logo-header" src="assets/logo_dark.png" alt="Logo" />
						</a>
					</div>   
				</div>
				<div class="span8">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">.::Домой</a>
						</li>
						<li>
							<a href="#">.::О нас</a>
						</li>
						<li>
							<a href="#">.::Услуги</a>
						</li>
						<li>
							<a class="search">
								<i class="icon-search search-btn"></i>
							</a>
						</li>    
						<!--
							<div class="search-open">
					            <div class="input-append">
					                <form>
					                	<input type="text" class="span3" placeholder="Search" />
					       			    <button type="submit" class="btn-u">Go</button>
					                </form>
					            </div>
					        </div>
					    -->
					</ul>
				</div>
		</div>
	</div>
</header>