		<div class="span3">
        	<!-- Contacts -->
            <div class="headline"><h3>Адрес</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><i class="icon-home"></i>603000, г. Нижний Новгород, ул. Бекетова, 15, оф. 4</li>
                <li><i class="icon-envelope-alt"></i>infocom-nn@yandex.ru</li>
                <li><i class="icon-phone-sign"></i>414-19-89</li>
                <li><a href="http://www.infotechcom.ru"><i class="icon-globe"></i>http://www.infotechcom.ru</a></li>
            </ul>

        	<!-- Business Hours -->
            <div class="headline"><h3>Время работы</h3></div>
            <ul class="unstyled">
            	<li><strong>Понедельник-Пятница:</strong> с 10:00 до 20:00 </li>
            	<li><strong>Суббота:</strong> с 11:00 до 17:00 </li>
            	<li><strong>Воскресенье:</strong> Выходной</li>
            </ul>

        	<!-- Why we are? -->
            <div class="headline"><h3>Почему мы?</h3></div>
            <p>Аргументы, с чего это вдруг, даже если ему не надо, потенциальный клиент выберет именно нас.</p>
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> Красивые</li>
            	<li><i class="icon-ok color-green"></i> Умные</li>
            	<li><i class="icon-ok color-green"></i> В белом пальто</li>
            </ul>
        </div><!--/span3-->
