<% provide(:title, 'О нас') %>
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">О компании "Инфоком-НН"</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">О нас</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<div class="container">		
	<div class="row-fluid margin-bottom-30">
    	<div class="span6">
            <p>ООО "Инфоком-НН" - компания с огромными перспективами и жаждой жизни. Кузнец, уборщик, клиент-менеджер и пока не определившийся специалист способны решить любые задачи в сфере ИТ-аутсорсинга и автоматизации корпоративных систем. Сказать откровенно, мы и сами не понимаем в точности, что значит автоматизировать корпоративные системы, однако движемся к этой цели наношагами.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Непунктуальность</li>
                <li><i class="icon-ok color-green"></i> Корпоративная распущенность</li>
                <li><i class="icon-ok color-green"></i> Хамство</li>
                <li><i class="icon-ok color-green"></i> Безответственность</li>
                <li><i class="icon-ok color-green"></i> Лень</li>
            </ul><br />

            <!-- Blockquotes -->
            <blockquote>
                <p>Не смотря на то, что кузнец, как правило, нигде не нужен, в ИТ-сфере я наконец-то смог проявить себя как профессионал высокой категории.</p>
                <small>Кузнец, Джек Потрашитель</small>
            </blockquote>
        </div>
    	<div class="span6">
            <iframe src="http://player.vimeo.com/video/9679622" width="100%" height="327" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
        </div>
    </div><!--/row-fluid-->

	<!-- Meer Our Team -->
		<div class="row-fluid margin-bottom-30">
	<div class="headline"><h3>Наш команда</h3></div>
    <ul class="thumbnails team">
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/2.jpg" alt="" />
                <h3><a>Олег Дерибаска</a> <small>Старший уборщик</small></h3>
                <p>Почти бесполечен, зато в офисе всегда есть мокрая половая тряпка и крепкая швабра.</p>
                <ul class="unstyled inline">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/7.jpg" alt="" />
                <h3><a>Фрося Бурлакова</a> <small>Клиент-менеджер</small></h3>
                <p>Никто не знает, чем она занимается. Однако на работу приходит во время и на обеде не задерживается.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/3.jpg" alt="" />
                <h3><a>Арина Ариновна</a> <small>Пока не решили</small></h3>
                <p>Очень ответственный сотрудник, подающий надежды на наступление будущего.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/6.jpg" alt="" />
                <h3><a>Джек Потрашитель</a> <small>Кузнец</small></h3>
                <p>Самый полезный член коллектива. Кузнец нужен в любой ИТ-организации.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
    </ul><!--/thumbnails-->
</div>
	<!-- //End Meer Our Team -->
</div>