<% provide(:title, 'О нас') %>
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">О компании "Инфоком-НН"</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">О нас</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<div class="container">		
    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

	<div class="row-fluid margin-bottom-30">
    	<div class="span6">

<div class="headline"><h3>Добро пожаловать!</h3></div>

<p>Компания ООО «Инфоком-НН» работает в Нижнем Новгороде. Мы оказываем <strong>широкий спектр услуг в области IT-аутсорсинга</strong>: it-аудит, абонентское обслуживание компьютеров и оргтехники, создание и сопровождение корпоративного сайта, установка серверов, проектирование и монтаж проводных и беспроводных ЛВС, услуги в области автоматизации бизнес-процессов.</p>

<p>Мы способны организовать <strong>любые работы, связанные с компьютерной техникой</strong> и виртуализацией на вашем предприятии – от установки Windows на ноутбук и до проектирования многоуровневой системы автоматизации бизнес-процессов.</p>

<h4>Миссия компании:</h4>
<p>Развитие уровня <strong>автоматизации труда</strong>. Труд любого специалиста может быть облегчён за счёт использования новых инновационных технологий. Подробнее о нашей миссии вы можете прочитать в статье «Информационная революция».</p>

<h4>Цель:</h4>Продвижение идеи <strong>использования интерактивных технологий</strong> в работе российских предприятий для повышения производительности труда.</p>

<h4>Задачи:</h3>

    <ul class="unstyled">
        <li><i class="icon-ok color-green"></i> Увеличение уровня доверия к интерактивным системам. Компьютерная техника не должна вызывать проблем в процессе эксплуатации.
        </li>
        <li><i class="icon-ok color-green"></i> Расширение числа пользователей <strong>инновационными технологическими решениями</strong>.
        </li>
        <li><i class="icon-ok color-green"></i> Внедрение <strong>автоматических систем регулирования</strong> в повседневную жизнь компаний.</li>
        <li><i class="icon-ok color-green"></i> Увеличение качества <strong>интернет представительств компаний</strong>. Мало иметь корпоративный сайт, для получения эффекта от его использования необходимо активно работать с интернет аудиторией, которая только в Нижнем Новгороде составляет порядка 1,2 млн. человек.</li>
    </ul>
<br />

            <!-- Blockquotes -->
            <blockquote>
                <p>Не смотря на то, что кузнец, как правило, нигде не нужен, в ИТ-сфере я наконец-то смог проявить себя как профессионал высокой категории.</p>
                <small>Координатор проектов, Владимир Горшенин</small>
            </blockquote>
        </div>
    	<div class="span6">
            <iframe src="http://player.vimeo.com/video/9679622" width="100%" height="327" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
        </div>
    </div><!--/row-fluid-->

	<!-- Meer Our Team -->
		<div class="row-fluid margin-bottom-30">
	<div class="headline"><h3>Наш команда</h3></div>
    <ul class="thumbnails team">
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/2.jpg" alt="" />
                <h3><a>Никита Груздев</a> <small>IT-Project менеджер</small></h3>
                <p>Решение технический задач, организация работы с ИТ-специалистами компании по техническим вопросам.</p>
                <ul class="unstyled inline">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/6.jpg" alt="" />
                <h3><a>Владимир Горшенин</a> <small>Координатор проектов</small></h3>
                <p>Взаимодействие с клиентами компании. Организация работы специалистов по направлениям.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/3.jpg" alt="" />
                <h3><a>ФИО</a> <small>Клиент-менеджер</small></h3>
                <p>Приём звонков от клиентов. Поиск новых компаний на обслуживание компьютеров.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <img src="assets/others/7.jpg" alt="" />
                <h3><a>ФИО</a> <small>ИТ-специалист</small></h3>
                <p>Работа в "поле". Решение технический задач в офисах клиентов. Управление удалённым доступом.</p>
                <ul class="unstyled inline team">
                	<li><a href="#"><i class="icon-facebook"></i></a></li>
                	<li><a href="#"><i class="icon-twitter"></i></a></li>
                	<li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </li>
    </ul><!--/thumbnails-->
</div>
	<!-- //End Meer Our Team -->
</div>