
<div id="da-slider" class="da-slider">
                <div class="da-slide">
            <h2><i>ДОСТУПНО &amp; НАДЁЖНО</i> <br /> <i>ИТ-АУТСОРСИНГ</i> <br /> <i>В НИЖНЕМ НОВГОРОДЕ</i></h2>
            <p><i>Обслуживание</i> <br /> <i>корпоративных сетей</i> <br /> <i>и информационной инфраструктуры</i></p>
            <div class="da-img"><img src="/assets/img/1.jpg" alt="" /></div>
                </div>
         <div class="da-slide">
            <h2><i>ВОСПОЛЬЗУЙЗЯ</i> <br /> <i>ПРЕИМУЩЕСТВАМИ</i> <br /> <i>ИТ-АУТСОРСИНГА</i></h2>
            <p><i>Высокая степень экономии</i> <br /> <i>и профессиональны подход</i> <br /> <i>+ корпоративная гарантия </i></p>
            <div class="da-img"><img src="/assets/img/2.jpg" alt="image01" /></div>
        </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>

<!--=== End Slider ===-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                $('#da-slider').cslider({
                    autoplay    : true,
                    bgincrement : 450
                });
            
            });
        </script>   

<!-- Zakaz -->
<% if signed_in? %>
<br><br>
    <%= render 'shared/usermenu' %>
<% else %>
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span7">
            <span>Получите наше коммерческое предложение</span>
            <p>Нажав на кнопку и заполнив поле с вашей электронной почтой  течении 3 минут вы получите наше коммерческое предложение с подробным описанием предоставляемых услуг. Быстро и качественно - вот дивиз "Инфоком-НН".</p>
        </div>
        <form class="center" />
            <div class="input-append top-10 center">
            <input type="text" placeholder="Адрес почты" class="huge plus" />

            <a class="btn-u hover-effect huge">Получить предложение</a>
            </div>
        </form>
    
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->
<% end %>
<!-- Services -->
<div class="container">	

        <div class="row-fluid servive-block">
                <div class="span4">
                    <a href="#">
                    <h4>Обслуживание компьютеров</h4>
                    <p><i class="icon-bell"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>ИТ-аудит</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Сопровождение сайтов</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                    </a>
                </div>
            </div><!--/row-fluid-->

            <div class="row-fluid servive-block">
                <div class="span4">
                    <a href="#">
                    <h4>Проектирование и монтаж ЛВС</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Обслуживание оргтехники</h4>
                    <p><i class=" icon-refresh"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Установка и настройка серверов</h4>
                    <p><i class="icon-volume-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
            </div><!--/row-fluid-->


<!-- Information Blokcs -->
    <div class="row-fluid margin-bottom-20">
        <!-- Who We Are -->
        <div class="span8">
            <div class="headline"><h3>Добро пожаловать на сайт ООО "Инфоком-НН"</h3></div>
            <p><img class="pull-left lft-img-margin img-width-200" src="/assets/others/6.jpg" alt="" />
                Рады приветствовать Вас на сайте компании ООО «Инфоком-НН». Наша компания осуществляет услуги комплексного it-аутсорсинга: it-аудит, абонентское обслуживание компьютеров и оргтехники, создание и сопровождение корпоративного сайта, установка серверов, проектирование и монтаж ЛВС. Подробнее о наших услугах вы можете узнать здесь. </p>

<h4>Почему Именно Мы?</h4>
<p>Молодая и динамично развивающаяся компания, способная реализовать самый широкий спектр требований заказчика. Отлаженная система работы с клиентами даёт возможность минимизировать время реагирования на заявки. Особенно стоит отметить возможность осуществления взаимодействия с рабочей станцией клиента через систему удалённого доступа. Кроме того, профилактические выезды наших специалистов дают возможность практически полностью исключить возникновения внештатных ситуаций с компьютерной техникой в вашем офисе.</p>

<h4>Как Это Работает?</h4>
<p>Вы связывайтесь с нашим специалистом по работе с клиентами. После предварительной договорённости сотрудник компании приезжает в ваш офис для проведения предварительного аудита состояния вашей компьютерной сети. Составляется техническое задание и заключается договор. Оплата происходит из расчёта количества единиц обслуживаемой техники.</p>

<p>В установленные договором сроки специалист компании проводит профилактический выезд. Кроме того, благодаря системе удалённого доступа, наши специалисты могут незамедлительно отреагировать на возникшие технические неполадки.</p>

<h4>Дополнительные Услуги</h4>
<p>Мы осуществляем работы по проектированию и монтажу проводных и беспроводных компьютерных сетей. Можем оказать услуги по подбору и закупки компьютерной техники для вашей организации.</p>

<p>Важным направлением деятельности ООО «Инфоком-НН» является оказание услуг по созданию и ведению корпоративного сайта. Проект «AllProgres.ru», реализуемый в рамках нашей компании позволит вам в кратчайшие сроки не только создать своё представительство в интернете, но и получить полное сопровождение его работы.</p>
<!-- Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p> 
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            </ul>
-->
            <br />

            <blockquote class="hero-unify">
                <p>Создавая "Инфоком" мы старались развить и углубить, расширить и инновациизировать. Предстоит ещё много работы, однако уже сейчас можно сказать, что у нас есть, что сказать.</p>
                <small>IT-project manager, Никита Груздев</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Latest Shots -->
        <div class="span4">
            <div class="headline"><h3>Работы</h3></div>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="assets/carousel/01.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Настройка сервера - начало.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/carousel/02.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>IP-телефония пока установлена не у всех...</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div><!--/span4-->
    </div><!--/row-fluid--> 
    <!-- //End Information Blokcs -->



<!-- Our Clients -->
    <div class="flexslider ">
        <div class="headline"><h3>Наши клиенты</h3></div>    
        <ul class="slides">
            <li>
                <a href="http://www.nnte.ru" target="blank">

                    <img src="assets/clients/nnte.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
             
                    <img src="assets/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
               
                    <img src="assets/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
            
                    <img src="assets/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
      
                    <img src="assets/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
     
                    <img src="assets/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
           
                    <img src="assets/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
        
                    <img src="assets/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->




</div>

<!-- Zakaz -->
<div class="row-fluid purchase top-40 margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Вход для клиентов</span>
            <p>Уникальным приемуществом "Инфоком-НН" является интерактивное взаимодействие со всеми сотрудниками наших клиентов. Личный кабинет комании-клиента включает в себя неограниченное количество пользователей. Каждый из них может нарямую подать заявку на обслуживание компьютера и наш специалист свяжется с ним в самое ближайшее время!</p>
        </div>
        <%= link_to "Служебный вход", signin_path, :class => "btn-buy hover-effect" %>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->