<% provide(:title, 'Услуги') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Услуги</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Услуги</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Services -->


<!-- Zakaz -->
<% if signed_in? %>
    <%= render 'shared/usermenu' %>
<% else %>
    <%= render 'shared/kp' %>
<% end %>
<div class="container"> 
    <%= render 'shared/services' %>

<hr class="margin-bottom-40" />

<%= render '/static_pages/services/autsorsing_price' %>

</div>