<% provide(:title, 'Услуги') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Услуги ООО "Инфоком-НН"</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Услуги</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Services -->
<div class="container">	

    <% if signed_in? %>
    <%= render 'shared/usermenu' %>
    <% end %>

        <div class="row-fluid servive-block margin-bottom-60">
                <div class="span4">
                    <a href="#">
                    <h4>Обслуживание компьютеров</h4>
                    <p><i class="icon-bell"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>ИТ-аудит</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Сопровождение сайтов</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                    </a>
                </div>
            </div><!--/row-fluid-->

            <div class="row-fluid servive-block ">
                <div class="span4">
                    <a href="#">
                    <h4>Проектирование и монтаж ЛВС</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Обслуживание оргтехники</h4>
                    <p><i class=" icon-refresh"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="#">
                    <h4>Установка и настройка серверов</h4>
                    <p><i class="icon-volume-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </a>
                </div>
            </div><!--/row-fluid-->



<hr class="margin-bottom-40" />

        <!-- Pricing -->
        <div class="row-fluid margin-bottom-40">
        	<div class="span4 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>"Развитие" <span>Для офисов без сервера</span></h3>
                    <h4>500<i> руб.</i> <span>За 1 Компьютер В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 2 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> 2 аварийных выезда</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
            	<div class="pricing-footer">
                	<p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                	<button type="submit">Закажи сейчас</button>
                </div>
            </div>
        	<div class="span4 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Стандарт <span>Для офисов до 30 компьютеров с сервером</span></h3>
                    <h4>450<i> руб.</i> <span>За 1 Компьютер В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 4 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> 4 аварийных выезда</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
            	<div class="pricing-footer">
                	<p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                	<button type="submit">Закажи сейчас</button>
                </div>
            </div>
        	<div class="span4 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Эксперт <span>Для офисов более 30 компьютеров с сервером</span></h3>
                    <h4><i>От</i> 400<i> руб.</i> <span>В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 4 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> безлимитное количесвто аварийных выездов</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
            	<div class="pricing-footer">
                	<p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                	<button type="submit">Закажи сейчас</button>
                </div>
            </div>

        </div><!--/row-fluid-->
        <!--//End Pricing -->
</div>