<% provide(:title, 'Карта сайта') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Карта сайта</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li class="active">Карта сайта</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
	<% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

<!--=== Content Part ===-->
<div class="row-fluid">            
  <div class="span9">
  
  <a href="http://infotechcom.ru/index.html"><h4>Главная</h4></a>
  <a href="http://infotechcom.ru/about_us.html"><h4>О компании</h4></a>
  <a href="http://infotechcom.ru/services.html"><h4>Услуги</h4></a>
  <ul>
    <li><a href="http://infotechcom.ru/services/it_autsorsing_nnov.html"><strong>Абоненсткое обслуживание компьютеров</strong></a>
    <li><a href="http://infotechcom.ru/services/it_audit_nnov.html"><strong>ИТ-аудит</strong></a>
    <li><a href="http://infotechcom.ru/services/korporativniy_sait_nnov.html"><strong>Создание и обслуживание сайтов</strong></a>
    <li><a href="http://infotechcom.ru/services/proectirovanie_i_montazh_lvs.html"><strong>Проектирование и монтаж локальных сетей</strong></a>
    <li><a href="http://infotechcom.ru/services/ustanovka_servera.html"><strong>Установка и настройка серверов</strong></a>
    <li><a href="http://infotechcom.ru/services/obsluzhivanie_orgtehniki.html"><strong>Обслуживание оргтехники</strong></a>
  </ul>
  <a href="http://infotechcom.ru/articles.html"><h4>Блог</h4></a>
  <ul>
    <% @posts.each do |post| %>
      <li><strong><%= link_to post.name, post %></strong></li>
    <% end %>
  </ul>
  <a href="http://infotechcom.ru/contacts.html"><h4>Контакты</h4></a>



    </div>
    <%= render '/static_pages/right_column' %>
  </div>
</div>