<div class="row-fluid servive-block margin-bottom-60">
    <div class="span12" itemscope itemtype="http://schema.org/Article">
    	<a itemprop="url" href="http://allprogress.ru" target="blank">
		<div class="row-fluid servive-block margin-bottom-60">
			<div class="span8">
		        <meta itemprop="genre" content="Услуги">
		        	<br><br>
			        <img src="/allprogress.png" width="650">
		    </div>
			<div class="span4">
		        <meta itemprop="genre" content="Услуги">

			        <h4 itemprop="headline">Проект компании "Инфоком-НН"</h4>
			        <p><i class="icon-picture"></i></p>
			        <p itemprop="description"><strong class="">Создание, сопровождение и продвижение сайтов в Нижнем Новгороде</strong></p>
		    </div>
    	</div>
    	</a>
    </div>
</div>