<!-- Our Clients -->
    <div class="flexslider ">
        <div class="headline"><h3>Наши клиенты</h3></div>    
        <ul class="slides">
            <li>
                <a href="http://www.nnte.ru" target="blank">

                    <img src="/assets/clients/nnte.png" class="color-img" alt="Нижновтеплоэнерго" />
                </a>
            </li>
            <li>
                <a href="http://bogorodskmash.ru/" target="blank">
             
                    <img src="/assets/clients/bmz.png" class="color-img" alt="Богородский машиностроительный завод" />
                </a>
            </li>
            <li>
                <a href="#">
               
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
            
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
      
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
     
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
           
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
        
                    <img src="/assets/clients/blank.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- //End Our Clients -->