<div class="row-fluid purchase margin-bottom-30">
    <div class="container">

        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
  
        <div class="row-fluid">
            <div class="span7">
                <span>Получите наше коммерческое предложение</span>
                <p>Заполнив поле с электронной почтой и нажав на кнопку, в течении 3 минут вы получите наше коммерческое предложение с подробным описанием предоставляемых услуг. Быстро и качественно - вот дивиз "Инфоком-НН".</p>
            </div>
            <div class="span5">
                <%= form_tag('mail_to', controller: 'static_pages', action: "mail_to", :class => 'center') do %>
                    <div class="input-append top-10 center">
                        <%= text_field_tag 'mail', nil, :class => 'huge plus', :placeholder => 'Введите Ваш E-mail' %>
                        <button class="btn-u hover-effect huge">Получить предложение</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->