            <div class="row-fluid servive-block margin-bottom-60">
                <div class="span4">
                    <a href="/services/it_autsorsing_nnov.html">
                    <h4>Обслуживание компьютеров</h4>
                    <p><i class="icon-bell"></i></p>
                    <p>Абонентское обслуживание компьютеров в офисе – одна из самых распространенных разновидностей IT-аутсорсинга.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="/services/it_audit_nnov.html">
                    <h4>ИТ-аудит</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>IT-аудит проводится в случае необходимости создания, либо реформирования информационно-технической составляющей работы вашего офиса.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="/services/korporativniy_sait_nnov.html">
                    <h4>Сопровождение сайтов</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Первое впечатление, которое вы произведёте на своего клиента, зависит от информационной насыщенности и качества страницы в сети.</p>
                    </a>
                </div>
            </div><!--/row-fluid-->

            <div class="row-fluid servive-block ">
                <div class="span4">
                    <a href="/services/proectirovanie_i_montazh_lvs.html">
                    <h4>Проектирование и монтаж ЛВС</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Объединение компьютеров в локальную сеть (ЛВС, LAN) позволяет совместно использовать информацию или обмениваться ею.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="/services/ustanovka_servera.html">
                    <h4>Установка и настройка серверов</h4>
                    <p><i class="icon-volume-up"></i></p>
                    <p>Сервер является "мозгом" вашей сети. Многие программы требуют общего доступа, который невозможно обеспечить без наличия сервера.</p>
                </a>
                </div>
                <div class="span4">
                    <a href="/services/obsluzhivanie_orgtehniki.html">
                    <h4>Обслуживание оргтехники</h4>
                    <p><i class=" icon-refresh"></i></p>
                    <p>ООО «Инфоком-НН» занимается обслуживанием всех видов оргтехники: начиная от принтеров и заканчивая ризографами.</p>
                </a>
                </div>

            </div><!--/row-fluid-->