<% @user ||= current_user %>
<div class="stats">
<h4>Заявки</h4>

<% if current_user.status == 3 || current_user.status == 2 %>
<span><strong>Выполнено:</strong>
  <a href="#">12</a>
</span>
<span><strong>В работе:</strong>
  <a href="#">12</a>
</span>
<% else %>
<span><strong>Подано заявок:</strong>
  <a href="#"><%= current_user.requests.count %></a>
</span>
<% end %>

</div>

<hr>
<span>Организация:
    <strong>
      <%= link_to current_user.agent.name, current_user.agent %>
    </strong>
</span>

<span>Статус: 
  <%= write_user_status(current_user.status) %>
</span>