<% @user ||= current_user %>
<div class="stats">
<h4>Заявки</h4>

<% if current_user.status == 3 || current_user.status == 2 %>
<span><strong>Выполнено:</strong>
  <a href="#">12</a>
</span>
<span><strong>В работе:</strong>
  <a href="#">12</a>
</span>
<% else %>
<span><strong>Подано заявок:</strong>
  <a href="#"><%= current_user.requests.count %></a>
</span>
<% end %>

</div>

<hr>
<span>Организация:
    <a href="#">
    <strong>
      <%= current_user.agent.name %>
    </strong>
  </a>
</span>

<span>Статус: 
  <a href="#">
    <% if current_user.status == 2 %>
      <strong class="manager"> Менеджер </strong>
    <% elsif current_user.status == 3 %>
      <strong class="admin"> Администратор </strong>
    <% elsif current_user.status == 1 %>
      <strong class="engineer"> Инженер </strong>
    <% else %>
      <strong> Пользователь </strong>
    <% end %>
  </a>
</span>