	                    <dl class="dl-horizontal">
	                        <dt><img src="/assets/blog/1.jpg" alt="" /></dt>
	                        <dd>


	                            <p><%= link_to truncate(post.text, length: 65, omission: '...'), post %></a></p> 
	                        </dd>
	                    </dl>

