/* Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
$green: #72C02C;
$red: #960018;
$blue: #0015ff;
$yellow: #ffbf00;

.all {
	width: 100%;
}

.green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.red {
	color: $red;
}
.blue {
	color: $blue;
}

.avainrequest {
	float: left;
	margin-right: 10px;
}

.wysihtml5 {
	width: 98%;
	height: 180px;
}

.newcomment {
	width: 120px;
	float: right;
	background-color: $green;
	color: #fff;
	border: 0px;
	margin-right: 10px;
}

/* Comments */
.comment {
	display: block;
	min-height: 60px;
	margin-bottom: 20px;
	
	.commentavatar {
		float: left;
	}
	.commenttitle {
		position: relative;
		margin-left: 60px;
		height: 15px;
		width: 85%;

		.commentusername {
			font-weight: bold;
			display: inline-block;
			a {
				text-decoration: none;
			}
		}
		.commentedit {
			font-weight: bold;
			display: inline-block;
			margin-left: 10px;
		
		}
		.commentdelete {
			display: inline-block;
			
			a {
			font-weight: bold;
			color: $red;
			text-decoration: none;
			}

		}
		.commentdate {
			position: absolute;
			right: 12px;
			top: 10px;
			font-size: 70%;
		}
	}

	.commenttext {
		margin-left: 70px;
		vertical-align: baseline;
		margin-top: -15px;
	}
}


.ruser {
	width: 100%;
	text-align: center;
	select {
		width: 120px;
		display: block;
		margin-left: 5px;
		margin-bottom: 1px;
	}
	input {
		width: 120px;
		height: 18px;
		font-size: 14px;
		padding: 1px;
	}
			.selectuser {
			width: 120px;
			background-color: $green;
			margin-left: 5px;
			line-height: normal;
			padding-top: 0px;
			color: #fff;
			border: 0px;
		}
}

.table {
	width: 100%;
	font-size: 1.2em;
	border-bottom-width: 10px !important;
	border-color: #000 !important;
	
	.thead {
		background-color: $green;
		border-radius: 10px;
		color: #fff;
		text-align: center;

		font-weight: bold;
		span {
			border-left: 1px solid #fff;
			padding-top: 5px;
			font-size: 0.9em;
			margin: 0;
			height: 35px;
			}
		}
	.tbody {
		text-align: center;
		line-height: 1;
		background-color: #eee;
		border-radius: 10px;
		margin-top: 5px;
		span {
			font-size: 0.7em;
			height: 70px;
			border-left: 1px solid #fff;
			margin: 0;
			padding-top: 15px;
				.green {
					color: $green;
				}

				.yellow {
					color: $yellow;
				}

				.red {
					color: $red;
				}
				.blue {
					color: $blue;
				}


			a {
				&:hover {
					text-decoration: none;

				}
			}
			i {
				font-size: 16px;

			}
			&:first-child {

				font-size: 1em;
				font-weight: bold;
				
			}
			&:last-child {
			font-size: 0.8em;
			padding: 5px;
			}
		}
		&:hover {
			background-color: #ccc;
			border-radius: 10px;
		}
		&:nth-child(odd) {
			background-color: #ddd;
			border-radius: 10px;
				&:hover {
			background-color: #ccc;
			border-radius: 10px;
		}


	}

	}

}