        <!-- Pricing -->
        <div class="row-fluid margin-bottom-40">
            <div class="span4 pricing hover-effect">
                <div class="pricing-head">
                    <h3>"Развитие" <span>Для офисов без сервера</span></h3>
                    <h4>500<i> руб.</i> <span>За 1 Компьютер В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 2 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> 2 аварийных выезда</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
                <div class="pricing-footer">
                    <p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                    <button type="submit">Закажи сейчас</button>
                </div>
            </div>
            <div class="span4 pricing hover-effect">
                <div class="pricing-head">
                    <h3>"Стандарт" <span>До 30 компьютеров с сервером</span></h3>
                    <h4>450<i> руб.</i> <span>За 1 Компьютер В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 4 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> 4 аварийных выезда</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
                <div class="pricing-footer">
                    <p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                    <button type="submit">Закажи сейчас</button>
                </div>
            </div>
            <div class="span4 pricing hover-effect">
                <div class="pricing-head">
                    <h3>"Эксперт" <span>Более 30 компьютеров с сервером</span></h3>
                    <h4><i>От</i> 400<i> руб.</i> <span>В Месяц</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> 4 профилактических выезда</li>
                    <li><i class="icon-asterisk"></i> безлимитное количесвто аварийных выездов</li>
                    <li><i class="icon-heart"></i> Поддержка Он-Лайн</li>
                    <li><i class="icon-star"></i> Электронная форма заяки</li>
                    <li><i class="icon-shopping-cart"></i> Консультации по закупке техники</li>
                </ul>
                <div class="pricing-footer">
                    <p>*Здесь какое-то примечание, в случае необходимости или подробное пояснение. Возможно сообщение о скидке.</p>
                    <button type="submit">Закажи сейчас</button>
                </div>
            </div>

        </div><!--/row-fluid-->
        <!--//End Pricing -->