<% provide(:title, 'Прокладка локальных сетей') %>

<!--=== Breadcrumbs ===-->
<div itemscope itemtype="http://schema.org/Article">
    <meta itemprop="genre" content="Услуги">
    <meta itemprop="author" content="Инфоком-НН">
    <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left" itemprop="headline">Монтаж локальных сетей в Нижнем Новгороде</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
                <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
                <li class="active">ЛВС</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <div class="container">
        <% if signed_in? %>
            <%= render 'shared/usermenu' %>
        <% end %>

        <div class="row-fluid margin-bottom-20">

            <div class="span9">
                
    <div class="headline"><h3>Локально вычислительные сети</h3></div>

    <p itemprop="description">Если в вашем офисе больше одного компьютера, целесообразно объединить их сетью. Объединение компьютеров в <strong>локальную сеть (ЛВС, LAN)</strong> позволяет совместно использовать информацию или обмениваться ею. Прокладка ЛВС не только экономит время на передачи файлов, но также и денежные средства, ведь благодаря прокладке ЛВС, обмен файлами осуществляется без помощи интернета и электронной почты. «Инфоком-НН» быстро и качественно осуществляет монтаж ЛВС любой сложности. Основными принципами нашей работы являются оперативность, высокое качество и приемлемые цены.</p>

    <p>Так же компания "Инфоком-НН" осуществляет работы по созданию <strong>беспроводных сетей( Wi-Fi</strong> ), основными преимуществами которых являются:</p>

    <ul>

    <li>Мобильность сотрудников компании.</li>

    </ul>

    <ul>

    <li>Низкая стоимость проектирования и монтажа Wi-Fi сетей по сравнению с проводными информационными сетями.</li>

    </ul>

    <ul>

    <li>Меньшие временные затраты по установке по сравнению с проводными информационными сетями.</li>

    </ul>

    <div class="headline"><h3>Основные этапы развертывания ЛВС:</h3></div>

    <h3>Проектирование</h3>

    <p>Работу по проектированию локальных вычислительных сетей (ЛВС), или структурированных кабельных систем в готовом помещении, можно разделить на несколько этапов:</p>

    <h4>Предпроектное обследование.</h4>

    <p>Предпроектное обследование необходимо для получения исходной информации для проектирования сети. Иногда наличие точного плана помещений и устная беседа с заказчиком, позволяет определить все пункты без выезда специалиста на место. Это возможно в случае небольшой сети.</p>

    <p> </p>

    <h4>Разработка и согласование технического задания.</h4>

    <p>Техническое задание должно включать:</p>

    <ul>

    <li>требование к системе и ее назначение;</li>

    </ul>

    <ul>

    <li>поэтажные планы помещений;</li>

    <li>в случае сложной системы - назначение помещений и требования к ним;</li>

    <li>требования к качеству и соответствие стандартам;</li>

    <li>этапы и сроки сдачи работы;</li>

    <li>порядок приема;</li>

    <li>объем и тип документации.</li>

    </ul>

    <p>ТЗ является постановкой задачи, оно должно быть согласовано обеими сторонами, без уточнения особенностей конкретных кабельных трасс, каналов, портов и т.д.</p>

    <h4>Эскизное проектирование</h4>

    <p>На этом этапе создается эскизный, или предварительный, проект, который включает в себя следующие пункты:</p>

    <ul>

    <li>В соответствии с предварительным расположением рабочих мест производится оценочный расчет:длины кабеля и кабельных каналов;количества портов;стоимости и объема работ (монтаж коробов, сверление стен, укладка кабеля и т.д.);</li>

    <li>А также производится оценка и выбор:структуры компьютерной сети ( локальной сети );активного сетевого оборудования;пассивного сетевого оборудования и материалов;Разрабатывается технико-экономическое обоснование.</li>

    </ul>

    <h4>Рабочее проектирование</h4>

    <p>На данном этапе происходит уточнение всех деталей проекта, в соответствии с которыми производится перерасчет, составляется технический проект, который включает:</p>

    <ul>

    <li>точный расчет количества кабеля и кабельканалов;указание типа кабеля и кабельканалов на каждом участке СКС;</li>

    <li>уточнение, в результате более детального обследования помещений, объема и вида работ, документирование всех планируемых видов работ;</li>

    <li>расположение информационных розеток;</li>

    <li>расположение и спецификация сетевого оборудования;</li>

    <li>система маркировки кабеля, схемы и таблицы разводки кабеля на кроссах и панелях.</li>

    </ul>

    <p>Важным моментом является согласование проекта с различными смежными службами. Например, должна быть четкая схема электропроводки, чтобы не повредить ее в процессе монтажа слаботочных систем. </p>

    <h3>Монтаж</h3>

    <p>Далее начинаются монтажные работы, после чего производится тестирование кабельной системы и настройка оборудования:</p>

    <ul>

    <li>поставка активного и пассивного сетевого оборудования;</li>

    <li>монтаж структурированной кабельной сети (СКС) и активного сетевого оборудования;</li>

    <li>тестирование СКС, ЛВС;</li>

    <li>обновление и установка сетевого программного обеспечения;</li>

    <li>обновление и установка программного обеспечения на рабочие станции;</li>

    </ul>

    <div class="headline"><h3>Рабочая документация</h3></div>

    <p>После проведения всех вышеперечисленных работ подготавливается и передается заказчику рабочая документация, содержащая:</p>

    <ul>

    <li>точную схему прокладки трасс;</li>

    <li>точную схему расположения оборудования;</li>

    <li>схемы подключения кабеля, таблицы соединений и маркировки;</li>

    <li>схема организации и описание рабочих мест (по необходимости);</li>

    <li>инструкцию по эксплуатации.</li>

    </ul>

    <p>По факту установки СКС корректируется технический проект, и на его основе составляется рабочая документация.</p>



            </div>

            <%= render 'right_column' %>
        </div>

    <%= render '/shared/clients' %>


    </div>
</div>