<% provide(:title, 'Обслуживание оргтехники') %>

<!--=== Breadcrumbs ===-->
<div itemscope itemtype="http://schema.org/Article">
    <meta itemprop="genre" content="Услуги">
    <meta itemprop="author" content="Инфоком-НН">
    <div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left" itemprop="headline">Комплексное обслуживание оргтехники в Нижнем Новгороде</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
                <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
                <li class="active">Оргтехника</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <div class="container">
        <% if signed_in? %>
            <%= render 'shared/usermenu' %>
        <% end %>

        <div class="row-fluid margin-bottom-20">

            <div class="span9">
                
    <div class="headline"><h3>Какую оргтехнику мы обслуживанием?</h3></div>
    <p itemprop="description">ООО «Инфоком-НН» занимается обслуживанием всех видов оргтехники: начиная от принтеров и заканчивая ризографами.</p>

    <div class="headline"><h3>Что входит в пакет услуг «обслуживание оргтехники»?</h3></div>
    <p>Данный пакет услуг является сокращённым вариантом «абонентского обслуживания информационной инфраструктуры предприятия». При данном виде услуги мы берём на себя все вопросы работоспособности переферийного оборудования. Наши специалисты настроят сетевой принтер, установят сканер, заменят закончившийся картридж в копире, отремонтируют факс, установят и запрограммируют телефонный аппарат.</p>

    <p>В стандартный пакет услуг входит профилактика работы оборудования. Раз в месяц наш специалист будет осуществлять профилактические работы в вашем офисе. Покупка и замена картриджей осуществляется по заявкам. Стоимость расходных материалов оплачивается отдельно. Также в обслуживание оргтехники сходит консультации по покупке нового оборудования, срочному и аварийному ремонту устройств, вышедших из строя.</p>


            </div>

            <%= render 'right_column' %>
        </div>

    <%= render '/shared/clients' %>


    </div>
</div>