<% provide(:title, 'Создать корпоративный сайт') %>

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Создание и обслуживание сайтов в Нижнем Новгороде</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
            <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
            <li class="active">Сайты</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <% if signed_in? %>
        <%= render 'shared/usermenu' %>
    <% end %>

    <div class="row-fluid margin-bottom-20">

        <div class="span9">

<div class="headline"><h3>Зачем фирме нужен сайт?</h3></div>

<p>Аудитория нижегородского сегмента сети интернет составляет около 1,2 млн. пользователей. Это ваши потенциальные клиенты. Работать с ними без своего виртуального представительства не возможно. Сайт – это лицо вашей организации, первое впечатление, которое вы произведёте на своего клиента, зависит от информационной насыщенности и качества страницы в сети.</p>

<div class="headline"><h3>Каким должен быть корпоративный сайт?</h3></div>

<p>В первую очередь потенциальный клиент вашей организации должен с ходу понять, чем ваша компания занимается. Вторым по важности идёт удобность интерфейса. У клиента не должно возникнуть вопроса, каким образом можно купить ваш продукт, либо воспользоваться вашими услугами. Сайт без возможности получения обратной связи не будет актуален.</p>

<p>Вопросы дизайна важны. «По одёжке встречают». Корпоративный сайт и ваш офис – это те вещи, которые бросаются в глаза вашим клиентам при знакомстве. И если некоторые виды деятельности не требуют наличия красивого офиса в фешенебельном здании, то качественный сайт является неотъемлемой частью имиджа любой компании.</p>

<p>Очень важной составляющей является наличие актуальной информации на странице вашей компании. Наличие текстов требуется не только для поисковой оптимизации, но и для того, чтобы потенциальный клиент получил возможность познакомиться с работой фирмы. Наличие новостей на сайте, интервью с директором и сотрудниками значительно увеличивают уровень доверия.</p>

<div class="headline"><h3>Создание корпоративного сайта</h3></div>

<p>ООО «Инфоком-НН» имеет возможность в короткие сроки создать корпоративный сайт фирмы. Мы профессионально разбираемся в вопросах дизайна и программирования.</p>

<p>Для наших клиентов мы готовы предложить уже разработанные специалистами формы. Совместно с нашим менеджером вам остаётся только выбрать понравившийся вам вариант и назначить человека в вашей компании, который подготовит информацию для наполнения сайта.</p>

<p>Все предлагаемые шаблоны имеют высокую степень проработанности с точки зрения интерфейса, оптимизированное программное ядро и высокий уровень безопасности.</p>

<div class="headline"><h3>Обслуживание корпоративного сайта</h3></div>

<p>В Нижнем Новгороде вопросами обслуживания корпоративного сайта занимается всего несколько фирм. Мы одни из них. Мало создать качественный сайт, гораздо важнее представить на нём нужную вам информацию в выгодном свете. Сайт – это витрина, если она будет пустой, то у вас ничего не купят.</p>

<p>Специалисты ООО «Инфоком-НН» готовы взять на себя обслуживание вашего виртуального представительства.</p>

<div class="headline"><h3>Что входит в обслуживание сайта?</h3></div>

<p>В первую очередь – это наполнение его текстовыми материалами. Тексты необходимы для поисковой оптимизации. Чем больше на сайте оригинальных (авторских) текстов, тем выше ваш сайт будет находиться в поисковиках. Интересной формой развития корпоративного сайта может стать серия интервью с сотрудниками вашей компании, с вашими клиентами.</p>

<p>Помимо текстового наполнения сайта, мы берём на себя его новостное сопровождение. Чем чаще на вашем ресурсе будут появляться новости о работе, тем лучше как для поисковых роботов, так и для клиентов. Часто обновляемый сайт производит впечатление динамичного развития компании, в то время, как сайт на котором новости появляются раз в месяц дискредитирует вашу организацию в глазах потенциального клиента.</p>

<p>Важной составляющей нашей работы является интерактивная реклама. Баннерные и контекстные сети дают многотысячную аудиторию целевых покупателей. Этот ресурс не стоит отдавать конкурентам.</p>

<p>Также мы предлагаем вам услуги по работе с социальными сетями. Плюсом работы с социальной сетью (Facebook, Одноклассники или Вконтакте) является широкий охват аудитории, её структурированность по полу, возрасту, места проживания потенциального клиента и т.д.</p>

        </div>

        <%= render 'right_column' %>
    </div>

<%= render '/shared/clients' %>


</div>