<% provide(:title, 'Установка и настройка серверов') %>

<!--=== Breadcrumbs ===-->
<div itemscope itemtype="http://schema.org/Article">
    <meta itemprop="genre" content="Услуги">
    <meta itemprop="author" content="Инфоком-НН">
    <div class="row-fluid breadcrumbs margin-bottom-40">
    	<div class="container">
            <h1 class="pull-left" itemprop="headline">Установка и настройка серверов в Нижнем Новгороде</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
                <li><%= link_to "Услуги", '/services.html' %> <span class="divider">/</span></li>
                <li class="active">Серверы</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <div class="container">
        <% if signed_in? %>
            <%= render 'shared/usermenu' %>
        <% end %>

        <div class="row-fluid margin-bottom-20">

            <div class="span9">
                
    <div class="headline"><h3>Для чего нужен сервер?</h3></div>
    <p>Сервер устанавливают при необходимости объединения всех устройств ваше организации в единую сеть. При этом возникает возможность создания внутренней почтовой службы, вы сможете обмениваться короткими текстовыми сообщениями, появится общие сетевые папки для обмена файлами внутри вашей компании. Кроме того, у руководителя компании будет возможность регулировать количество трафика, который использует каждый сотрудник. При необходимости можно заблокировать любой нежелательный сайт для внутренней сети организации. Также вы сможете контролировать, на какие ресурсы заходят ваш персонал.</p>

    <p>Помимо удобства, сервер позволяет вам значительно увеличить уровень информационной безопасности на вашем предприятии. Это надёжный барьер между безграничным интернетом со всеми его вирусами и троянами и локальной сетью вашей организации.</p>

    <div class="headline"><h3>Что такое сервер?</h3></div>
    <p>Не вдаваясь в технические подробности можно разделить серверы на аппаратную часть (железо) и программную.</p>

    <p>Функции сервера может выполнить программное обеспечение – интернет-шлюз. Возможно применить отдельный сервер, в комплект поставки которого входит блок процессора и программное обеспечение.</p>

    <div class="headline"><h3>Что выбрать: шлюз или сервер?</h3></div>
    <p>Это зависит от ваших потребностей и от размера сети. Возможно применить комплексные решения, реализация которых однозначно потребует покупки аппаратного сервера. В то время, как для небольшой компании из нескольких компьютеров вполне достаточно установить интернет-шлюз.</p>

    <p itemprop="description">Специалисты ООО «Инфоком-НН» в Нижнем Новгороде дадут профессиональную консультацию и помогут вам решить, какой именно вариант необходим вашей компании.</p>

    <div class="headline"><h3>Зачем нужно производить обслуживание сервера?</h3></div>
    <p>Казалось бы, вопрос совершенно обоснован. Системный блок не требует постоянного присутствия специалиста для своего функционирования. Необходим лишь интернет и электричество. Однако часто в процессе эксплуатации возникают проблемы.  Например скачёк напряжения, который потребует перезапустить сервер и выполнить пуско-наладочные работы. Во время серфинга в интернете ваши сотрудники будут сталкиваться с вирусами, что может привести к проблемам на сервере. В любой момент может потребоваться создать новый почтовый аккаунт на сервере или создать новую службу обмена информацией. Возможно проблемы с интернет подключением.</p>


            </div>

            <%= render 'right_column' %>
        </div>

    <%= render '/shared/clients' %>


    </div>
</div>